.carousel-container {
    width: 80%;
    margin: 0 auto;
    overflow-x: scroll;
    white-space: nowrap;
  }
  
  .carousel {
    display: inline-block;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
  }
  
  .carousel-imagen {
    display: flex;
    animation: carousel 7s infinite linear;
  }
  
  .carousel-imagen img {
    width: 60%;
    margin: 0 auto;
  }
  
  @keyframes carousel {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  