@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* background-color: aliceblue; */
}

h1 {
    font-family: 'Merriweather', serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;


}

nav,
footer,
header,
ul,
li,
a,
.container-fluid,
.collapse {
    background-color: #04BFBF;
}

li {
    font-size: 18px;
}

.fa-brands {
    background-color: transparent;
    color: white;
    /* O el color que prefieras */
    font-size: 24px;
    /* Tamaño del icono */
    margin: 0 10px;
    /* Espacio alrededor de los iconos */
    text-decoration: none
}

.icono-grande {
    font-size: 38px;
    background-color: #04BFBF;
}

.title {
    text-align: center;
    padding-top: 80px;

}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen img {
    border-radius: 60px 0 60px 0;
    padding: 10px;
    margin: 10px;
    width: 40%;
}

.history {
    max-width: 80%;
    /* Limita el ancho del texto para mejorar la legibilidad */
    margin: 0 auto;
    /* Centra el contenedor en la página */
    padding: 10px;
    /* Añade un poco de espacio alrededor del texto */
    /* Un fondo suave puede ayudar a la lectura */
    border-radius: 8px;
    /* Estilo opcional para suavizar las esquinas */
}

.history p {
    font-family: "Georgia", serif;
    /* Una tipografía con serifas mejora la legibilidad en textos largos */
    font-size: 18px;
    /* Un tamaño de fuente adecuado */
    line-height: 1.6;
    /* Espaciado entre líneas para facilitar la lectura */
    /* Color de texto que contrasta bien con el fondo */
    text-align: justify;
    /* Justifica el texto para un bloque uniforme */
}


/* .title,
.imagen,
.history {
     background-color: aliceblue; 
} */
.video {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtube-video {
    display: block;
    /* Asegura que el iframe se trate como un bloque */
    margin: 0 auto;
    /* Centra el iframe horizontalmente */
    border-radius: 20px;
    /* Añade bordes redondeados */
    overflow: hidden;
    /* Esconde cualquier contenido que se desborde del borde redondeado */
}

.conteiner-consejos {
    background-color: #b7e2e2 !important;
    border-radius: 10px;
}

.conteiner-consejos>li {
    background-color: #b7e2e2;
    width: 95%;
    padding: 2px;
}

.btn-consejos:hover {
    background-color: #55aaaa;
}

.btn-consejos:focus {
    background-color: #55aaaa;
}

.scroll-section {
    max-height: 200px;
    overflow-y: auto;
}

@media (width <=430px) {
    #containerCards {
        width: 80%;
        margin: auto;
    }
}